<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="Db" providerName="System.Data.SqlClient"
           connectionString="Data Source=(localdb)\v11.0;
           integrated security=true;
           initial catalog=djBank"/>
    </connectionStrings>
</configuration>
